:root {
  --sky-blue: #79d7fd;
  --ocean-blue: #00bbfa;
  --midnight-navy: #001736;
  --deep-navy: #00183e;
  --gold: #ffc54a;
}

* {
  box-sizing: border-box;
  /* border: 1px solid red ; */
}

html,
body {
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#graph-container,
#selectable-graph-container {
  margin-top: 10px;
}

.graph-row {
  display: flex;
}

.graph-node {
  margin: 0.5px;
  min-width: 3rem;
  min-height: 3rem;
  border: 1px solid rgb(69, 144, 255);
  border-radius: 0px;
}

.start-node {
  background-color: green;
}

.target-node {
  background-color: red;
}

.visited-node {
  position: relative;
}

.visited-node::before {
  position: absolute;
  content: "";
  width: 2.8rem;
  height: 2.8rem;
  background-color: blue;
  transform: scale(0);
}

.visited-node.active::before {
  animation-name: visitedAnimation;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

.visited-node.path-node {
  background-color: blue;
}

.path-node::before {
  position: absolute;
  content: "";
  transform: scale(0);
  width: 2.8rem;
  height: 2.8rem;
  background-color: yellow;
}

.path-node.active::before {
  animation-name: pathAnimation;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-fill-mode: forwards;
}

.wall-node {
  background-color: purple;
}

.weight-node {
  background-color: orange;
}

.path-node {
  position: relative;
}

.selectable {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.selectable:hover {
  background-color: grey;
}

@keyframes visitedAnimation {
  0% {
    transform: scale(0);
    border-radius: 30px;
    background-color: white;
  }
  80% {
    transform: scale(1.5);
    border-radius: 5px;
    background-color: lightcoral;
  }
  100% {
    transform: scale(1);
    border-radius: 0px;
    background-color: blue;
  }
}

@keyframes pathAnimation {
  0% {
    transform: scale(0);
    border-radius: 30px;
    background-color: rgb(255, 132, 0);
  }
  80% {
    transform: scale(1.5);
    border-radius: 5px;
    background-color: rgb(255, 196, 0);
  }
  100% {
    transform: scale(1);
    border-radius: 0px;
    background-color: yellow;
  }
}
