* {
  box-sizing: border-box;
  /* border: 1px solid red ; */
}

html,
body {
  overflow-x: hidden;
  margin: 0;
}

html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#grid-container {
  display: flex;
  flex-direction: column;
}

.grid-row {
  display: flex;
}

.grid-node {
  margin: 0.5px;
  width: 50px;
  height: 50px;
  border: 1px solid rgb(69, 144, 255);
}

.start-node {
  background: green;
}

.target-node {
  background-color: red;
}

.visited-node {
  background-color: blue;
  animation-name: toVisited;
  animation-duration: 6s;
  /* transition: transform 3s ease-in;
  transform: scale(1); */
}

@keyframes toVisited {
  from {
    background-color: transparent;
  }
  to {
    background-color: blue;
  }
}
